.div-padre-qr{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #4a4848;
   min-height: 1024px;

    
}
.titulo-principal-qr{
    background-color: #262424;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6); 
    color: #FFFFFF;
    min-height:40px;
    width: 100%;
    margin-bottom: 0;
}
.titulo-qr{
    width: 100%;
    height: 4%;
    text-align: center;
    padding-top: 1%;
}


.div-qr{
    margin: auto;
    margin-left: 30%;
    margin-top: 2%;
    margin-bottom: 50%;
    padding: 2%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6); 
}


.btn-descargar-qr{
  width: 70%;
  height: 40px;
  margin-left: 15%;
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: rgb(106, 247, 106);
  border: none;
  cursor: pointer;
}
.btn-descargar-qr:hover{
    background-color: rgb(81, 207, 81);
}
.icono-menu{
    display: none;
 }  


.btn-generar-qr{
    width: 20%;
    height: 5%;
    margin: auto;
    margin-left: 30%;
    margin-top:10%;
    margin-bottom: 30%;
    background-color: #1a1919;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6); 
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.btn-generar-qr:hover{
    background-color: rgb(81, 207, 81);
}

.menu-hamburgesa-oculto{
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(17, 17, 16);
    position: absolute;
 }

 /*-------------------------------------------------------------*/

@media screen and (max-width:768px){

    .icono-menu{
        display: flex;
    }

    .menu-hamburgesa-activo{
        display: flex;
        width: 100%;
        height: 100%;
        background-color: rgb(17, 17, 16);
        position: fixed;
      }
      .div-qr{
        margin: auto;
        margin-top: 10%;
        margin-bottom: 50%;
        padding: 2%;
    }
    .titulo-principal-qr{
       height:80px; 
    }

    .btn-generar-qr{
    width: 20%;
    height: 5%;
    margin: auto;
   margin-top: 0;
    background-color: #1a1919;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6); 
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
}
