.div-padre{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 100%;
    background-color:rgba(236, 239, 240, 0.541);
    margin: 0;
    min-height: 1024px;
 }
 
 /*--------------------------------------------*/
 
 .item1-titulo-principal{
    width: 100%;
    background-color:rgb(52, 55, 56);
    color: white;
    padding-left: 2%;
 }
 .menu-hamburgesa-oculto{
   display: none;
   width: 100%;
   height: 100%;
   background-color: rgb(17, 17, 16);
   position: absolute;
}
 .item3{
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
    width: 45%;
    padding: 1%;
    
 }
 
 h3{
    margin-top: 1%;
    width: 100%;
    margin-bottom: 1%;
 }

 .titulos-div1{
   margin: 5px;
   width: 50%;
   flex-direction: column;
   text-align: center;
   height: 40px;
   padding: 5px;
   background-color:rgba(193, 204, 207, 0.541);
   border-radius: 10px;
 }
 #input-imagen::file-selector-button{
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   color: dodgerblue;
   border: thin solid grey;
   border-radius: 10px;
   padding: 2%;
   cursor: pointer;
 }

 /*--------------------------------------------*/
 
 .item4{
    display:flex;
    flex-direction: column;
    width: 40%;
    padding: 1%;
 }
 #titulo2{
   width: 100%;
   height: 30px;
 }
 .div-imagen{
   width: 100%;
 }
 #img-mascota{
   width: 18%;
   border-radius: 10%;
   margin: auto;
   margin-top: 0;
   margin-bottom: 2%;
   margin-left: 35%;
   background-color: none;
}
.div-inputs{
   width: 100%;
   margin-top: 1%;
}
.titulos-div2{
   width: 40%;
   margin: 5px;
   margin-top: 1%;
   margin-bottom: 1%;
   padding: 2%;
  border: none;
  border-radius: 5px;
  background-color:rgba(193, 204, 207, 0.541);

   
}
.btn-actualizar{
   width: 50%;
   padding: 2%;
   margin-left: 20%;
   margin-top: 2%;
   margin-bottom: 5%;
   background-color: rgb(57, 228, 57);
   border: none;
   color: white;
}
.btn-actualizar:hover{
   cursor: pointer;
   background-color: rgb(90, 206, 90);

}

/*---------------------------------------------------------*/
/* responsive desing */

@media screen and (max-width:1024px){
   .header-padre{
     display: none;
   }
  
   .div-padre{
      height: 1000px;
   }
   .item1-titulo-principal{
      height: 90px;
   }
   .icono-menu{
     display: flex;
     width: 10%;
     padding: 3px;
     margin-top: 3px;
  }
  .icono-menu:hover{
     background-color: rgb(107, 113, 119);
     border-radius: 5px;
  }

  .menu-hamburgesa-activo{
     display: flex;
     width: 100%;
     height: 100%;
     background-color: rgb(17, 17, 16);
     position: fixed;
  }

   .item3{
     width: 100%;
     padding-left: 8%;
   }
   #titulo-datos-dueño-perfil{
      padding-left: 1%;
      text-align: center;
   }
   .titulo-datos-dueño-perfil{
      padding-left: 1%;
      text-align: center;
   }
   .item4{
      width: 100%;
   }
   .titulos-div1{
      width: 80%;
   }

   #titulo2{
      padding-left: 5%;
   }
    

}