.div-padre-usuarios {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

.titulo-principal-usuarios {
  width: 100%;
  background-color: rgb(55, 63, 65);
  color: white;
  padding-left: 1%;
  height: 6vh;
}

.div-total-usuarios{
  width: 100%;
  height: 30px;
  padding-top: 5px;
}

.div-tabla-usuarios {
  width: 89%;
  background-color: rgba(236, 239, 240, 0.541);
}

.tabla-usuarios {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 8px rgb(0, 0, 0, 0.1);
}

.thead-usuarios {
  background-color: #93a793;
  color: white;
}

.th-usuarios,
.td-usuarios,
.tr-usuarios{
  padding: 5px 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tabla-usuarios tr:hover{
  background-color: #b6b3b3;
}
